
<div class="d-flex mb-2">
    @Html.DropDownList("FCity", null, new { @class = "form-control mr-1" , @id="City"+ViewBag.ID})
    @Html.DropDownList("FDistrict", null, new { @class = "form-control ml-1 District",@id="District"+ViewBag.ID})
</div>


<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
    $(function () {
        $("#City@(ViewBag.ID)").change(function () {
        $("#District@(ViewBag.ID)").empty();
        $.ajax({
            type: "POST",
            url: '@Url.Content("~/Method/GetCityByCityGroup")',
            dataType: "json",
            data: { selectedCity: $("#City@(ViewBag.ID)").val() },
            success: function (mems) {
                $.each(mems, function (key, val) {
                    $("#District@(ViewBag.ID)").append(
                        '<option value="' + mems[key]["fPostCode"] + '">' + mems[key]["fDistrictName"] + "</option>"
                     );
                });
            },
            error: function (ex) {
                alert("Failed to retrieve states : " + ex);
            },
        });
        return false;
    });
    })

</script>