
@{
    ViewData["Title"] = "Index";
}
<form asp-action="ComfirmBuy">
    <div class="row py-4 justify-content-center align-items-center">
        <div class="col-md-4">
            <div class="row justify-content-center">
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">購買點數</div>
                    </div>
                    <input type="text" class="form-control" id="BuyPoint" name="BuyPoint" placeholder="請輸入欲購買的點數">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">回饋點數</div>
                    </div>
                    <input type="text" class="form-control" id="Bonus" name="Bonus" readonly placeholder="根據會員等級回饋等數">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">總共獲得</div>
                    </div>
                    <input type="text" class="form-control" id="ToTalGetPoint" name="ToTalGetPoint" readonly placeholder="總共獲得點數">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">付款方式</div>
                    </div>
                    <select class="form-control" name="PayMethod">
                        <option value="信用卡付款">信用卡付款</option>
                        <option value="Web ATM">Web ATM</option>
                        <option value="ATM 櫃員機">ATM 櫃員機</option>
                        <option value="超商代碼">超商代碼</option>
                        <option value="超商條碼">超商條碼</option>
                        <option value="Apple Pay">Apple Pay</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="ml-0 ml-md-3 ml-lg-0">
            <input class="btn-style-two mt-3" type="submit" id="clickToBuyPoint" value="確定" />
        </div>
    </div>
    <input type="hidden" name="CompanyTAXID" value="@ViewBag.account" />
    <input type="hidden" name="OrderId" id="PorderID" value="@ViewBag.OrderId" />
</form>
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#BuyPoint").change(function () {
                var buy =$("#BuyPoint").val();
                var bonus = @ViewBag.Bonus;
                var bonusP = (buy * bonus).toFixed(0);
                var totals = (parseInt(buy) + parseInt(bonusP)).toFixed(0);
                $("#Bonus").val(`${bonusP}`);
                $("#ToTalGetPoint").val(`${totals}`);
            })
        })
    </script>

}


