@addTagHelper *, MSITTeam1
@{
    ViewData["Title"] = "Index";
}
<link href="~/css/MemberCenter.css" rel="stylesheet">
<div id="cont-about" class="container-fluid py-4">
    <div class="container">
        <h4 class="my-3 pl-2">歡迎回來!@ViewBag.Name</h4>
        <div class="row about-content">
            <!-- Nav pills -->
            <div class="col-sm-3">
                <ul class="nav nav-pills flex-column" role="tablist">
                    <li class="nav-item">
                        <a class="vertical-tabs-member first-vertical-tabs active mb-1" data-toggle="pill" href="#home">會員資料</a>
                    </li>
                    <li class=" nav-item">
                        <a class="vertical-tabs-member mb-1" data-toggle="pill" href="#menu1">我的點數</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="vertical-tabs-member mb-1" data-toggle="pill" href="#menu3">個人履歷</a>
                    </li>
                    <li class="nav-item">
                        <a class="vertical-tabs-member mb-1" data-toggle="pill" href="#menu5">購買紀錄</a>
                    </li>
                    <li class="nav-item">
                        <a class="vertical-tabs-member last-vertical-tabs" href="@Url.Content("~/MemberPostMessage/InboxIndex")">訊息通知</a>
                    </li>
                </ul>
            </div>

            <!-- Tab panes -->
            <div class="col-sm-9">
                <div class="tab-content shadow-sm">
                    <div id="home" class="container tab-pane active">
                            <vc:student-basic></vc:student-basic>
                    </div>
                    <div id="menu1" class="container tab-pane fade">
                        <div class="row about-box">
                            <vc:s-point-record></vc:s-point-record>
                        </div>
                        </div>
                        
                        <div id="menu3" class="container tab-pane fade">
                            <div class="row about-box">
                                
                                <vc:student-resume-image></vc:student-resume-image>
                            </div>
                        </div>
                        
                        <div id="menu5" class="container tab-pane fade">
                            <div class="row about-box">
                             <vc:s-purchase-record></vc:s-purchase-record>
                            </div>
                        </div>
                        <div id="menu7" class="container tab-pane fade">
                            <div class="row about-box">
                                <h3 class="text-center">職缺搜尋</h3>
                                <p>
                                    AntenaGames is small indie game studio based in Croatia. Founded in 2020,
                                    on a mission to make beautiful, fun and popular mobile games. The first game released
                                    was BallBoy, which belongs to franchise also called BallBoy, with game titles such as
                                    "BallBoy", "BallBoy Plus" and "BallBoy (...)". Building strong and loyal community with
                                    happy players that will come back to play our games is something that we really enjoy
                                    doing.
                                </p>
                                <p>
                                    Founder & CEO<br />
                                    A.K.
                                </p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
    $("#savechanges").click(() => {
        var jsondata = JSON.stringify({
            MemberId:$("#MemberId").val(),
            fName:$("#fName").val(),
            fGender: $("#fGender").val(),
            fBirthDate: $("#fBirthDate").val(),
            fEmail: $("#fEmail").val(),
            fPhone: $("#fPhone").val(),
            fAddress: $("#fAddress").val(),
            fAutobiography: $("#fAutobiography").val()
            
        })
        $.ajax({
            url: "@Url.Content("~/StudentResume/Edit")",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: jsondata,
         }).done(function (data) {
            Swal.fire({
                        
                        icon: 'success',
                        title: '修改成功',
                        showConfirmButton: false,
                        timer: 1500
                        }).then(() => {
                            $('#staticBackdrop').hide()
                            window.location.reload() 
                            });
        })
    })

        const tabs = document.querySelectorAll("[data-target]"),
            tabContents = document.querySelectorAll("[data-content]");

        tabs.forEach((tab) => {
            tab.addEventListener("click", () => {
                const target = document.querySelector(tab.dataset.target);

                tabContents.forEach((tc) => {
                    tc.classList.remove("is-active");
                });
                target.classList.add("is-active");

                tabs.forEach((t) => {
                    t.classList.remove("is-active");
                });
                tab.classList.add("is-active");
            });
        });
    </script>


}

