@model MSITTeam1.ViewModels.CStudentBasicViewModel

 <link href="~/css/Edit.css" rel="stylesheet">

 <div class="background">
     <div class="page-wrap">
         <h1>基本資料修改</h1>
         <form asp-action="StudentInformationEdit">
             <div class="row">
                 <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                 <div class="styled-input col-md-3">
                     <input asp-for="Name" required />
                     <label asp-for="Name">姓名</label>
                     <span asp-validation-for="Name" class="text-danger"></span>
                 </div>
                 <div class="styled-input col-md-3">
                     <input asp-for="BirthDate" type="date" class="clender" required />
                     <label asp-for="BirthDate">生日</label>
                     <span asp-validation-for="BirthDate" class="text-danger"></span>
                 </div>
                 <div class="styled-input col-md-3">
                     <input asp-for="Email" required />
                     <label asp-for="Email">信箱</label>
                     <span asp-validation-for="Email" class="text-danger"></span>
                 </div>
                 <div class="styled-input col-md-3">
                     <input asp-for="Phone" required />
                     <label asp-for="Phone">電話</label>
                     <span asp-validation-for="Phone" class="text-danger"></span>
                 </div>
             </div>
             <div class="row">
                 <div class="styled-input col-md-3">
                     <input asp-for="FCity" required />
                     <label asp-for="FCity">地址</label>
                     <span asp-validation-for="FCity" class="text-danger"></span>
                 </div>
                 <div class="styled-input col-md-3">
                     <input asp-for="FDistrict" required />
                     <label asp-for="FDistrict">地址</label>
                     <span asp-validation-for="FDistrict" class="text-danger"></span>
                 </div>
                 <div class="styled-input col-md-6">
                     <input asp-for="ContactAddress" required />
                     <label asp-for="ContactAddress">地址</label>
                     <span asp-validation-for="ContactAddress" class="text-danger"></span>
                 </div>
             </div>
             <div class="form-group">
                 <button type="button" class="btn-style-two">儲存</button>
             </div>
         </form>
     </div>
 </div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
