@model MSITTeam1.ViewModels.TMemberResumeSendViewModel

<div class="row">
    <div class="col-12">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="CompanyTaxid" class="form-control" type="hidden" />
                <input asp-for="MemberId" class="form-control" type="hidden" />
                <input asp-for="JobId" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="JobName" class="control-label"></label>
                <input asp-for="JobName" class="form-control" readonly/>
                <span asp-validation-for="JobName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">請選擇履歷樣式</label>
                <select class="form-control" id="selectResume@(ViewBag.rowCount)" name="ddlResume" required>
                    
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ContactPhone" class="control-label"></label>
                <input asp-for="ContactPhone" class="form-control" placeholder="EX.0912345678" />     @*pattern="/^09[0-9]{8}$/"*@
                <span asp-validation-for="ContactPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactEmail" class="control-label"></label>
                <input type="email" asp-for="ContactEmail" class="form-control" />
                <span asp-validation-for="ContactEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeToContact" class="control-label"></label>
                <select class="form-control" id="ddlstartTime" name="ddlstartTime">
                    <option value="09:00">09:00</option>
                    <option value="09:30">09:30</option>
                    <option value="10:00">10:00</option>
                    <option value="10:30">10:30</option>
                    <option value="11:00">11:00</option>
                    <option value="11:30">11:30</option>
                    <option value="12:00">12:00</option>
                    <option value="12:30">12:30</option>
                    <option value="13:00">13:00</option>
                    <option value="13:30">13:30</option>
                    <option value="14:00">14:00</option>
                    <option value="14:30">14:30</option>
                    <option value="15:00">15:00</option>
                    <option value="15:30">15:30</option>
                    <option value="16:00">16:00</option>
                    <option value="16:30">16:30</option>
                    <option value="17:00">17:00</option>
                    <option value="17:30">17:30</option>
                    <option value="18:00">18:00</option>
                    <option value="18:30">18:30</option>
                    <option value="19:00">19:00</option>
                </select>
                <select class="form-control" id="ddlendTime" name="ddlendTime">
                    <option value="09:00">09:00</option>
                    <option value="09:30">09:30</option>
                    <option value="10:00">10:00</option>
                    <option value="10:30">10:30</option>
                    <option value="11:00">11:00</option>
                    <option value="11:30">11:30</option>
                    <option value="12:00">12:00</option>
                    <option value="12:30">12:30</option>
                    <option value="13:00">13:00</option>
                    <option value="13:30">13:30</option>
                    <option value="14:00">14:00</option>
                    <option value="14:30">14:30</option>
                    <option value="15:00">15:00</option>
                    <option value="15:30">15:30</option>
                    <option value="16:00">16:00</option>
                    <option value="16:30">16:30</option>
                    <option value="17:00">17:00</option>
                    <option value="17:30">17:30</option>
                    <option value="18:00">18:00</option>
                    <option value="18:30">18:30</option>
                    <option value="19:00">19:00</option>
                </select>
                <span asp-validation-for="TimeToContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoverLetter" class="control-label"></label>
                <textarea asp-for="CoverLetter" class="form-control" style="overflow-y:scroll;resize:none" maxlength="500" placeholder="請輸入500字以內的求職信內容"></textarea>
                <span asp-validation-for="CoverLetter" class="text-danger"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉視窗</button>
                <button asp-action="ResumeSend" type="submit" class="btn btn-primary">送出</button>  @*data-dismiss="modal"*@
            </div>
        </form>
    </div>
</div>




