/*@import "compass/css3";*/

.sample.nine input, .sample.ten input {
    border-radius: 15px;
    transition: all 0.6s ease-in-out 0.3s;
    width: 120px;
}

    .sample.nine input:focus, .sample.ten input:focus {
        transition-delay: 0;
        width: 200px;
    }

        .sample.nine input:focus ~ button, .sample.ten input:focus ~ button {
            transform: rotateZ(360deg);
        }

            .sample.nine input:focus ~ button.btn-search, .sample.ten input:focus ~ button.btn-search {
                background: orange;
                color: #fff;
                left: 172px;
                transition-delay: 0;
            }

            .sample.nine input:focus ~ button.btn-reset, .sample.ten input:focus ~ button.btn-reset {
                left: 202px;
                transition-delay: 0.3s;
            }

.sample.nine button, .sample.ten button {
    transition: all 0.6s ease-in-out;
}

    .sample.nine button.btn-search, .sample.ten button.btn-search {
        background: #ccc;
        border-radius: 50%;
        height: 26px;
        left: 92px;
        top: 2px;
        transition-delay: 0.3s;
        width: 26px;
    }

    .sample.nine button.btn-reset, .sample.ten button.btn-reset {
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 50%;
        font-size: 10px;
        height: 20px;
        left: 92px;
        line-height: 20px;
        padding: 0;
        top: 5px;
        width: 20px;
        z-index: -1;
    }

@keyframes bounceRight {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes jumpTowardSearch {
    0% {
        background: #ccc;
        opacity: 1;
        transform: rotateZ(0deg) scale(1);
    }

    20% {
        background: #ccc;
        opacity: 0;
        transform: rotateZ(-60deg) scale(50);
    }

    55% {
        background: orange;
        opacity: 0;
        transform: rotateZ(-30deg) scale(100);
    }

    90% {
        background: orange;
        opacity: 0;
        transform: rotateZ(-30deg) scale(50);
    }

    100% {
        background: orange;
        opacity: 1;
        transform: rotateZ(0deg) scale(1);
    }
}

@keyframes jumpTowardReset {
    0% {
        opacity: 0;
        transform: rotateZ(0deg) scale(1);
    }

    20% {
        opacity: 0;
        transform: rotateZ(-60deg) scale(50);
    }

    55% {
        opacity: 0;
        transform: rotateZ(-30deg) scale(100);
    }

    90% {
        opacity: 0;
        transform: rotateZ(-30deg) scale(50);
    }

    100% {
        opacity: 1;
        transform: rotateZ(0deg) scale(1);
    }
}
