
@{
    ViewData["Title"] = "Index";
}

<link href="~/css/login.css" rel="stylesheet">

<div class="background">
    <div class="container-fulid px-3 px-md-0">
        <div class="login-wrap my-4">
            <div class="login-html">
                <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">企業登入</label>
                <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">註冊會員</label>
                <div class="login-form">
                    <div class="sign-in-htm">
                        <div class="group">
                            <label for="user" class="label">帳號</label>
                            <input id="LAccount" type="text" class="input" name="txtAccount" required>
                        </div>
                        <div class="group">
                            <label for="pass" class="label">密碼</label>
                            <input id="LPassword" type="password" class="input" data-type="password" name="txtPassword" required>
                        </div>
                        <div class="group my-4">
                            <button id="loginbtn" class="button" type="button">登入</button>
                        </div>
                        <div class="group text-center">
                            <a class="color-orange h5" href="~/Company_Login/PWDidentify">忘記密碼</a>
                        </div>
                    </div>
                    <div class="sign-up-htm">
                        <div class="group">
                            <label for="user" class="label">帳號</label>
                            <input id="RAccount" type="text" class="input" name="txtAccount" required>
                        </div>
                        <div class="group">
                            <label for="pass" class="label">密碼(請輸入包含8-16碼英數字)</label>
                            <input id="RPassword" type="password" class="input" data-type="password">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">再次輸入密碼</label>
                            <input id="RPassword2" type="password" class="input" data-type="password">
                        </div>
                        <div class="container">
                            <span class="text-warning mt-0 mb-0" id="WarningMsg"></span>
                        </div>
                        <div class="group mt-1">
                            <button id="registerbtn" class="button" type="button">註冊</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        const regex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,16}$/
        $("#registerbtn").click(function ()
        {
            if (!regex.test($("#RPassword").val()))
            {
                Swal.fire("密碼格式不符請再次確認", "請輸入8-16碼包含一大一小寫英數字", "warning")
                return;
            }
            if ($("#RPassword").val() == "" || $("#RPassword2").val() == "")
            {
                Swal.fire("Uh Oh!", "請再次檢查是否有空白", "warning")
                return;
            }
            if ($("#RPassword").val() != $("#RPassword2").val())
            {
                Swal.fire("Uh Oh!", "密碼輸入不一致請重新確認", "warning")
                return;
            }
            $.ajax({
                type: "Post",
                url: "../Company_Login/register",
                data: { account: $("#RAccount").val(), password: $("#RPassword2").val() },
                dataType: "text",
                success: function (message) {
                    if (message == "此帳號已被註冊過")
                    {
                        Swal.fire("Uh Oh!", message, "warning");
                    } else if (message == "帳號註冊成功")
                    {
                        Swal.fire("太棒了!", message, "success").then((result) =>
                        {
                                if (result.isConfirmed) {
                                    window.location = "../Company_Login";
                                }
                            })}
                }
            })
        })
        $("#loginbtn").click(function () {
            $.ajax({
                type: "Post",
                url: "../Company_Login/login",
                data: { account: $("#LAccount").val(), password: $("#LPassword").val() },
                dataType: "text",
                success: function (message) {
                    if (message == "帳號密碼錯誤請重新輸入") {
                        Swal.fire("登入失敗", message, "warning");
                    }
                    else {
                        Swal.fire(message, "歡迎登入", "success",).then((result) => {
                            if (result.isConfirmed) {
                                window.location = "../Index";
                            }
                        })}
                }
            })
        })

    </script>
}

