@addTagHelper *, MSITTeam1
@{
    ViewData["Title"] = "Index";
}

@section Style{
    <link rel="stylesheet" href="~/css/fontawesome-all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/QuestionBankStyleSheet.css" />
    <link href="~/css/MemberCenter.css" rel="stylesheet">
    <link href="~/css/QTabCard.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/StarBar.css" />
    <link href="~/css/Resumebar.css" rel="stylesheet" />
    <style>
        .card {
            height: 190px;
            padding: 15px !important;
            border-radius: 11px !important;
        }

            .card:hover {
                box-shadow: 5px 10px 30px rgb(0 0 0 / 50%);
            }

        .card-body {
            text-align: center;
        }

        .card-title {
            text-align: center !important;
        }

        p, .text {
            line-height: 1.6em !important;
            font-size: 14px;
            text-indent: 2em;
            height: 65px;
            overflow: auto;
        }

        .p-3 {
            padding: 3px !important;
        }

        .creator {
            color: darkblue;
            text-align: right;
            font-size: 14px !important;
        }

        .indicator {
            display: block !important;
            border: 0.2px solid #428bff !important;
        }

        #outdivEd button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: 0;
            border: solid 1px transparent;
            padding: 14px 14px;
            background-color: #1e3c84;
            color: #FFFFFF;
            text-transform: capitalize;
            font-size: 18px;
            line-height: 22px;
            outline: none;
            cursor: pointer;
            transition: all .3s linear;
            width: 150px;
        }

            #outdivEd button:hover {
                /*background-color: #1A7F75;*/
                color: #1e3c84;
                z-index: 4;
                background-color: #ffffff;
                border: #1e3c84 solid 1px;
                cursor: pointer;
            }
    </style>
}
<h1>試卷及題目管理</h1>
<div style="margin-bottom:50px">
    <div class="tabs">
        <input type="radio" id="tab1" name="tab-control" checked>
        <input type="radio" id="tab2" name="tab-control">

        <ul>
            <li title="PaperBank">
                <label for="tab1" role="button">
                    <svg viewBox="0 0 24 24">
                        <path d="M14,2A8,8 0 0,0 6,10A8,8 0 0,0 14,18A8,8 0 0,0 22,10H20C20,13.32 17.32,16 14,16A6,6 0 0,1 8,10A6,6 0 0,1 14,4C14.43,4 14.86,4.05 15.27,4.14L16.88,2.54C15.96,2.18 15,2 14,2M20.59,3.58L14,10.17L11.62,7.79L10.21,9.21L14,13L22,5M4.93,5.82C3.08,7.34 2,9.61 2,12A8,8 0 0,0 10,20C10.64,20 11.27,19.92 11.88,19.77C10.12,19.38 8.5,18.5 7.17,17.29C5.22,16.25 4,14.21 4,12C4,11.7 4.03,11.41 4.07,11.11C4.03,10.74 4,10.37 4,10C4,8.56 4.32,7.13 4.93,5.82Z" />
                    </svg><br><span>我的試卷</span>
                </label>
            </li>
            <li title="QuestionBank">
                <label for="tab2" role="button">
                    <svg viewBox="0 0 24 24">
                        <path d="M2,10.96C1.5,10.68 1.35,10.07 1.63,9.59L3.13,7C3.24,6.8 3.41,6.66 3.6,6.58L11.43,2.18C11.59,2.06 11.79,2 12,2C12.21,2 12.41,2.06 12.57,2.18L20.47,6.62C20.66,6.72 20.82,6.88 20.91,7.08L22.36,9.6C22.64,10.08 22.47,10.69 22,10.96L21,11.54V16.5C21,16.88 20.79,17.21 20.47,17.38L12.57,21.82C12.41,21.94 12.21,22 12,22C11.79,22 11.59,21.94 11.43,21.82L3.53,17.38C3.21,17.21 3,16.88 3,16.5V10.96C2.7,11.13 2.32,11.14 2,10.96M12,4.15V4.15L12,10.85V10.85L17.96,7.5L12,4.15M5,15.91L11,19.29V12.58L5,9.21V15.91M19,15.91V12.69L14,15.59C13.67,15.77 13.3,15.76 13,15.6V19.29L19,15.91M13.85,13.36L20.13,9.73L19.55,8.72L13.27,12.35L13.85,13.36Z" />
                    </svg><br><span>我的題目</span>
                </label>
            </li>
        </ul>

        <div class="content">
            <section>
                <div>
                    <vc:q-test-paper-list></vc:q-test-paper-list>
                </div>
            </section>
            <section>
                <button id="testre" style="background-color:white;"></button>
                <div id="myQuestionList">
                </div>
            </section>
        </div>
    </div>
</div>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://your-site-or-cdn.com/fontawesome/v6.1.1/js/all.js" data-auto-replace-svg="nest"></script>
    <script>
        $('#testre').click(function () {
            reloadQuestionList();
        })
        $(document).ready(function () {
            reloadQuestionList();
        })

         // 試卷刪除
        $('.delPaper').click(function () {
            Swal.fire({
                title: '確定刪除嗎?',
                text: "刪除操作無法撤銷",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '刪除',
                cancelButtonText: '取消'
            }).then((result) => {
                if (result.isConfirmed) {
                    var paperId = $(this).attr("id");
                     async function deletePaper() {
                         const responseDelete = await fetch("@Url.Content("~/TestPaperBank/DeletePaper")" + `?paperID=${paperId}`);
                        const deletePaperResponse = await responseDelete.text()
                         Swal.fire({
                             icon: 'success',
                             title: deletePaperResponse,
                             showConfirmButton: false,
                             timer: 1500                            
                         }).then(() => {
                             window.location.reload();
                         })
                    }
                    deletePaper();                    
                }                
            })
        })

       // 題目查詢
        function reloadQuestionList() {
            $.ajax({
                url: "@Url.Content("~/QuestionBank/MyQuesList")",
                type: "POST",
                contentType: "application/json",
                data: "",
                success: function (result) {
                    $('#myQuestionList').html(result);
                }
            })
        }


// 難度StarBar
    $('.quesLevel').each(function () {
        var i = $(this).val();
        var temp = "show_rated_" + i;
        $(this).next().attr("class", temp);
    })

    </script>
}

