@addTagHelper *, MSITTeam1Admin
@{
    ViewData["Title"] = "Index";
}

@section Style{
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/fontawesome-all.css" />
    <link rel="stylesheet" href="~/css/QuestionBankStyleSheet.css" />
    <link href="~/css/QTabCard.css" rel="stylesheet" />
    <link href="~/css/SearchBar.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/StarBar.css" />
    <link rel="stylesheet" href="~/css/barRating.css" />
    <style>
        body {
            padding-right: 0 !important;
        }

        *.modal-header{
            display:-ms-flexbox !important;
            -ms-flex-align:start !important;
            -ms-flex-pack:justify !important ;
        }

        *.modal-open {
            padding-right: 0 !important;
            padding-left: 0 !important;
        }

        .input-group-btn .btn {
            padding: 8px 12px !important;
        }

        .indicator {
            width: 25px !important;
        }

        .form-group > textarea {
            overflow-y: auto !important;
            height: 200px !important;
        }

        #testsearch {
            -webkit-appearance: none;
            -moz-appearance: none;
            border: 0;
            padding: 0.5rem 0.75rem;
            background-color: #1e3c84;
            color: #FFFFFF;
            text-transform: capitalize;
            font-size: 18px;
            line-height: 22px;
            outline: none;
            cursor: pointer;
            transition: all .3s linear;
            width: 50px;
        }

        /*        #testView {
            height: 500px;
            overflow: auto;
        }*/

        .slide-container {
            height: 600px !important;
        }

        .sized-container.questionTable {
            max-width: 1700px;
        }

        .button-container {
            border-top: 0.2px hidden !important;
        }

        #selectCount {
            height: 35px;
            line-height: 2.7;
            width: 100px;
            border-radius: 17.5px;
            background-color: gainsboro;
            position: inherit;
            margin: 8px;
            text-align: center;
        }

        .selectType {
            height: 35px;
            line-height: 2.7;
            width: 100px;
            border-radius: 17.5px;
            background-color: gainsboro;
            position: inherit;
            margin: 8px;
            text-align: center;
            cursor: pointer;
        }

        .table {
            border: 0.5px solid gainsboro;
        }

        #CreatebtnType {
            margin: 0px;
            padding: 0px;
            float: right;
            background-color: #1e3c84;
            color: #FFFFFF;
        }

        .selectQuestList {
            height: 450px;
            overflow: auto;
        }

        #outdivCre button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: 0;
            border: solid 1px transparent;
            padding: 14px 14px;
            background-color: #1e3c84;
            color: #FFFFFF;
            text-transform: capitalize;
            font-size: 18px;
            line-height: 22px;
            outline: none;
            cursor: pointer;
            transition: all .3s linear;
            width: 150px;
        }

            #outdivCre button:hover {
                color: #1e3c84;
                z-index: 4;
                background-color: #ffffff;
                border: #1e3c84 solid 1px;
                cursor: pointer;
            }

            #outdivCre button.previous {
                background-color: #1e3c84;
                float: left;
            }

                #outdivCre button.previous:hover {
                    color: #1e3c84;
                    background-color: #ffffff;
                }

            #outdivCre button.savebtn {
                margin: auto;
                width: 150px;
            }

        .card {
            height: 190px;
            padding: 15px !important;
            border-radius: 11px !important;
        }

            .card:hover {
                box-shadow: 5px 10px 30px rgb(0 0 0 / 50%);
            }

        .card-body {
            text-align: center;
        }

        .card-title {
            text-align: center !important;
        }

        p, .text {
            line-height: 1.6em !important;
            font-size: 14px;
            text-indent: 2em;
            height: 65px;
            overflow: auto;
        }

        .p-3 {
            padding: 3px !important;
        }

        .creator {
            color: darkblue;
            text-align: right;
            font-size: 14px !important;
        }

        .indicator {
            display: block !important;
            border: 0.2px solid #428bff !important;
        }

        #outdivEd button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: 0;
            border: solid 1px transparent;
            padding: 14px 14px;
            background-color: #1e3c84;
            color: #FFFFFF;
            text-transform: capitalize;
            font-size: 18px;
            line-height: 22px;
            outline: none;
            cursor: pointer;
            transition: all .3s linear;
            width: 150px;
        }

            #outdivEd button:hover {
                /*background-color: #1A7F75;*/
                color: #1e3c84;
                z-index: 4;
                background-color: #ffffff;
                border: #1e3c84 solid 1px;
                cursor: pointer;
            }
    </style>
}
<h1>題庫系統</h1>
<div style="margin-bottom:50px">
    <div class="tabs">
        <input type="radio" id="tab1" name="tab-control" checked>
        <input type="radio" id="tab2" name="tab-control">

        <ul>
            <li title="PaperBank">
                <label for="tab1" role="button">
                    <svg viewBox="0 0 24 24">
                        <path d="M14,2A8,8 0 0,0 6,10A8,8 0 0,0 14,18A8,8 0 0,0 22,10H20C20,13.32 17.32,16 14,16A6,6 0 0,1 8,10A6,6 0 0,1 14,4C14.43,4 14.86,4.05 15.27,4.14L16.88,2.54C15.96,2.18 15,2 14,2M20.59,3.58L14,10.17L11.62,7.79L10.21,9.21L14,13L22,5M4.93,5.82C3.08,7.34 2,9.61 2,12A8,8 0 0,0 10,20C10.64,20 11.27,19.92 11.88,19.77C10.12,19.38 8.5,18.5 7.17,17.29C5.22,16.25 4,14.21 4,12C4,11.7 4.03,11.41 4.07,11.11C4.03,10.74 4,10.37 4,10C4,8.56 4.32,7.13 4.93,5.82Z" />
                    </svg><br><span>題目管理</span>
                </label>
            </li>
            <li title="QuestionBank">
                <label for="tab2" role="button">
                    <svg viewBox="0 0 24 24">
                        <path d="M2,10.96C1.5,10.68 1.35,10.07 1.63,9.59L3.13,7C3.24,6.8 3.41,6.66 3.6,6.58L11.43,2.18C11.59,2.06 11.79,2 12,2C12.21,2 12.41,2.06 12.57,2.18L20.47,6.62C20.66,6.72 20.82,6.88 20.91,7.08L22.36,9.6C22.64,10.08 22.47,10.69 22,10.96L21,11.54V16.5C21,16.88 20.79,17.21 20.47,17.38L12.57,21.82C12.41,21.94 12.21,22 12,22C11.79,22 11.59,21.94 11.43,21.82L3.53,17.38C3.21,17.21 3,16.88 3,16.5V10.96C2.7,11.13 2.32,11.14 2,10.96M12,4.15V4.15L12,10.85V10.85L17.96,7.5L12,4.15M5,15.91L11,19.29V12.58L5,9.21V15.91M19,15.91V12.69L14,15.59C13.67,15.77 13.3,15.76 13,15.6V19.29L19,15.91M13.85,13.36L20.13,9.73L19.55,8.72L13.27,12.35L13.85,13.36Z" />
                    </svg><br><span>檢視</span>
                </label>
            </li>
        </ul>

        <div class="content">
            <section>
                <div>
                    <div class="row row justify-content-around" id="searchGroup">
                        <div class="col-lg-2">
                            <select id="FSubjectId" name="FSubjectId" class="form-control">
                                <option value="">請選擇技能名稱</option>
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <select id="FQuestionTypeId" class="form-control">
                                <option value="">請選擇題型</option>
                                <option value="1">單選題</option>
                                <option value="2">多選題</option>
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <select id="FQuestionState" class="form-control">
                                <option value="">請選擇題目狀態</option>
                                <option value="1">未公開(僅出題者可見)</option>
                                <option value="2">公開</option>
                                <option value="0">鎖定</option>
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <div class="input-group input-group-rounded">
                                <input type="text" placeholder="查詢關鍵字" name="keyword" class="form-control" id="keyword">
                                <span class="input-group-btn"><button class="btn btn-primary btn-group-right" type="button" id="testsearch"><i class="fas fa-search"></i></button></span>
                            </div>
                        </div>
                        <div class="col-lg-2" style="padding: 0 60px 0 0;">
                            <div class="selectType" id="CreatebtnType">
                                <span><a data-toggle="modal" data-target="#questionCreate">新增題目</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div id="testView">
                    @*QuestionList*@
                </div>
            </section>
            <section style="text-align:center;">
                <iframe title="QBSys - 第 1 页" width="1024" height="612" src="https://app.powerbi.com/view?r=eyJrIjoiZmYwMWQ3YTAtY2ZmNi00YWZhLTg2NDktMDljZWE1MzBjZjg5IiwidCI6IjZmMGJiNzJmLTUzNzctNGRkZi05MzZhLWI2YzcyYmYyMWFlMiIsImMiOjF9" frameborder="0" allowFullScreen="true"></iframe>
            </section>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade modalCre" id="questionCreate" tabindex="-1" aria-labelledby="questionCreate" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">題目新增</h5>
                <input type="button" class="close" data-dismiss="modal" aria-label="Close" />
                @*<span aria-hidden="true">&times;</span>*@
                <span aria-hidden="true"></span>
            </div>
            <div class="modal-body">
                <vc:question-bank-create-ad></vc:question-bank-create-ad>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://your-site-or-cdn.com/fontawesome/v6.1.1/js/all.js" data-auto-replace-svg="nest"></script>
    <script src="~/js/barRating.init.js"></script>
    <script src="~/js/jquery.barrating.js"></script>
    <script src="~/js/Pagination.js"></script>
    <script>
// 難度StarBar
    $('.quesLevel').each(function () {
        var i = $(this).val();
        var temp = "show_rated_" + i;
        $(this).next().attr("class", temp);
    })

// 載入課程名稱
        const selSubQuest = document.querySelector('#FSubjectIdSel');
        const selSubSearch = document.querySelector('#FSubjectId');
        async function LoadSubject() {
            const responseSubject = await fetch('@Url.Content("~/QuesBankSysAdmin/Subject")');
            renderSubject(await responseSubject.json());
        }
        function renderSubject(datas) {
            datas.forEach((item) => {
                const opt = new Option(item.fClassCategory, item.fClassCategory);
                selSubSearch.options.add(opt);
            })
            datas.forEach((item) => {
                const opt = new Option(item.fClassCategory, item.fClassCategory);
                selSubQuest.options.add(opt);
            })
        }
        LoadSubject();

        // 題目查詢
        var jsondata = null;
        $(document).ready(function () {
        $('#testsearch').click(function () {
            searchQuesListAdmin();
        })
        })

        function searchQuesListAdmin() {
                 jsondata = JSON.stringify({
                    Subjects: $('#FSubjectId').val(),
                    keyword: $('#keyword').val(),
                    Type: $('#FQuestionTypeId').val(),
                    State: $('#FQuestionState').val()
                })
            $.ajax({
                url: "@Url.Content("~/QuesBankSysAdmin/List")",
                type: "POST",
                contentType: "application/json",
                data: jsondata,
                success: function (result) {
                    $('#testView').html(result);
                }
            })
        }

        //-----------------------------Create New Question---------------------------------------------
        // 判斷Checkbox
        var limitCre = $('#FQuestionTypeIdSelCre').val();
        function doCheckCre(obj) {
            obj.checked ? currentSelect++ : currentSelect--;
            var currentSelect = $("#ansListCre input[type='checkbox']:checked").length;
            if (currentSelect > limitCre) {
                obj.checked = false;
                Swal.fire("超過正確答案上限");
                currentSelect--;
            }
        }

        // 根據題型判斷答案輸入欄位及許可正確選項上限
        $('#FQuestionTypeIdSelCre').change(function () {
            if ($(this).val() === "2") {
                limitCre = 100;
            } else if ($(this).val() === "1") {
                limitCre = 1;
                $('#ansListCre input').removeAttr("checked");
            }
        })

        // 新增和刪除選項textbox
        $('#BtnNewChoiceCre').click(function () {
            var divChoiceCre = `<div class="form-group choiceCre">
                                            <label class="control-label my-2 font-weight-bold h5">選項</label>
                                            <div class="row align-items-center px-3" style="flex-wrap:nowrap">
                                                <input id="checkBox1" type="checkbox" name="FCorrectAnswer" class="mr-1" onclick="doCheckCre(this)" style="width:28px;height:25px"/>
                                                <input asp-for="FChoice" class="form-control txtAns" style="margin:0 20px 0 10px"/>
                                                <span asp-validation-for="FChoice" class="text-danger"></span>
                                                <button class="tableBtn fas fa-trash-alt delBtnCre" type="button" style="border-radius: 5px; width: 60px;"></button>
                                            </div>
                                        </div>`
            $('#ansListCre').append(divChoiceCre);
        })
        $("#outdivCre").on("click", ".delBtnCre", function () {
            $(this).closest(".choiceCre").remove();
        });

        // 將所有選項存入Array
        $('#createNew').click(function () {
            var ansArr = [];
            var selectAns = $("#ansListCre input[type='checkbox']:checked").length;
            var emptyChoice = 0;
            $('#ansListCre').find('.txtAns').each(function () {
                if ($(this).val() == "") {
                    emptyChoice++;
                }
            })
            if ($('#FQuestionCre').val() == "") {
                Swal.fire("請輸入題目");
            } else if ($('#FSubjectIdSel').val() == "") {
                Swal.fire("請選擇此題所屬技能類別");
            }
            else if (selectAns < 1) {
                Swal.fire("請選擇此題正確答案");
            } else if (emptyChoice > 0) {
                Swal.fire("選項內容不得為空");
            }
            else {
                $('#ansListCre > div').each(function (idx, item) {
                    var ans = {}
                    var c = $(item).find(':checkbox').prop('checked');
                    ans.FCorrect = c ? 1 : 2;
                    ans.Fchoice = $(item).find(':text').val();
                    ansArr.push(ans);
                })
                var jsondata = JSON.stringify({
                    FSubjectId: $('#FSubjectIdSel').val(),
                    FQuestion: $('#FQuestionCre').val(),
                    FQuestionTypeId: $('#FQuestionTypeIdSelCre').val(),
                    FChoiceList: ansArr,
                    FLevel: $('.levelCre').val()
                })
                console.log(jsondata);
                $.ajax({
                    url: "/QuesBankSysAdmin/Create",
                    type: "POST",
                    contentType: "application/json",
                    data: jsondata
                }).done(function (data) {
                    Swal.fire({
                        icon: 'success',
                        title: '新增成功',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(() => {
                        $('#questionCreate').modal('hide');
                        $('.modal-backdrop').remove();
                        $('#questionCreate').on('hidden.bs.modal', function () {
                            $('#testsearch').trigger('click');
                        })
                    })
                })
            }
        })

        $('.modalCre').on('hidden.bs.modal', function () {
            //resetData();
            $('#ansListCre .choiceCre:not(:first-child)').remove();
            $('#outdivCre input[type="text"]').each(function () {
                $(this).val('');
            })
            $('#ansListCre input').removeAttr("checked");
            // TODO2:關閉後星星數量改為1
            $('.levelCre').find('option[value="1"]').attr("selected", true);
        });

//-------------------------------------------Create New Question End--------------------------------
    </script>

}


