@model MSITTeam1.ViewModels.ResumeSendAndCompanyRespondViewModel

<div class="row">
    <div class="col-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="CompanyRespondId" class="form-control" type="hidden" />
                <input asp-for="ResumeSendId" class="form-control" type="hidden" />
                <input id="for-ddlTimeUse" type="hidden" value="@(Model.InterviewTime.Substring(12,5))"/>
            </div>
            
            <div class="form-group">
                <label asp-for="JobName" class="control-label"></label>
                <input asp-for="JobName" class="form-control" readonly />
                <span asp-validation-for="JobName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InterviewState" class="control-label"></label>
                <select asp-for="InterviewState" class="form-control" name="ddlInterviewState" required>
                    <option value="接受">接受</option>
                    <option value="婉拒">婉拒</option>
                </select>
                <span asp-validation-for="InterviewState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactPerson" class="control-label"></label>
                <input asp-for="ContactPerson" class="form-control" />
                <span asp-validation-for="ContactPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactPersonPhone" class="control-label"></label>
                <input asp-for="ContactPersonPhone" class="form-control" placeholder="EX.0912345678" /> @*pattern="/^09[0-9]{8}$/"*@
                <span asp-validation-for="ContactPersonPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactPersonEmail" class="control-label"></label>
                <input type="email" asp-for="ContactPersonEmail" class="form-control" placeholder="EX.abc123@gmail.com" />
                <span asp-validation-for="ContactPersonEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InterviewAddress" class="control-label"></label>
                <input asp-for="InterviewAddress" class="form-control" required />
                <span asp-validation-for="InterviewAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InterviewTime" class="control-label"></label>
                <input value="@(Convert.ToDateTime(Model.InterviewTime).Date)" id="InterviewTime" name="InterviewTime" class="form-control" required />
                <select class="form-control" id="ddlstartTime" name="ddlstartTime" required>
                    <option value="09:00">09:00</option>
                    <option value="09:30">09:30</option>
                    <option value="10:00">10:00</option>
                    <option value="10:30">10:30</option>
                    <option value="11:00">11:00</option>
                    <option value="11:30">11:30</option>
                    <option value="12:00">12:00</option>
                    <option value="12:30">12:30</option>
                    <option value="13:00">13:00</option>
                    <option value="13:30">13:30</option>
                    <option value="14:00">14:00</option>
                    <option value="14:30">14:30</option>
                    <option value="15:00">15:00</option>
                    <option value="15:30">15:30</option>
                    <option value="16:00">16:00</option>
                    <option value="16:30">16:30</option>
                    <option value="17:00">17:00</option>
                    <option value="17:30">17:30</option>
                    <option value="18:00">18:00</option>
                    <option value="18:30">18:30</option>
                    <option value="19:00">19:00</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="StudentRespondTime" class="control-label"></label>
                <div class="row mx-0 align-items-center"  style="flex-wrap: nowrap;">
                    <input asp-for="StudentRespondTime" class="form-control" /> <span style="min-width:3rem;"> 天內</span>
                    <span asp-validation-for="StudentRespondTime" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="InterviewContent" class="control-label"></label>
                <textarea asp-for="InterviewContent" class="form-control" style="overflow-y:scroll;resize:none" maxlength="500" placeholder="請輸入500字以內的求職信內容"></textarea>
                <span asp-validation-for="InterviewContent" class="text-danger"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button asp-action="InterviewInfoEdit" asp-controller="CompanyPostMessage" type="submit" class="btn btn-primary">儲存</button>  @*data-dismiss="modal"*@
            </div>
        </form>
    </div>
</div>

