@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100&display=swap");

header {
    width: 100vw;
    height: 150px;
    background-color: #5da5a4;
}

    header img {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }

main {
    background-color: #EFEFEF;
}

.container {
    padding-top: 70px;
    padding-bottom: 70px;
}

.job-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px;
    background-color: white;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-radius: 5px;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .job-card {
        display: block;
        padding: 20px;
        margin-bottom: 50px;
    }
}

.job-card:hover {
    -webkit-box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.job-card p {
    font-size: 15px;
    color: #227299;
    font-weight: 500;
    line-height: 1.4;
}

@media (max-width: 767px) {
    .job-card__info {
        padding-bottom: 20px;
    }
}

.job-card__info a:hover {
    text-decoration: none;
}

.job-card__info .img-c {
    height: 88px;
    width: 88px;
    margin-right: 15px;
}

@media (max-width: 767px) {
    .job-card__info .img-c {
        height: 60px;
        width: 60px;
        margin: -50px 0 10px 0;
    }
}

.job-card__info .img-c img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.job-card__info p {
    font-weight: 700;
    margin-bottom: 7px;
}

.job-card__info .tag-new {
    padding: 7px 10px;
    background-color: #58a9a7;
    color: white;
    border-radius: 20px;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 11px;
    display: none;
}

.job-card__info .tag-featured {
    padding: 7px 10px;
    background-color: black;
    color: white;
    border-radius: 20px;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 11px;
    display: none;
}

.job-card__info h6 {
    color: #323838;
    font-size: 18px;
    font-weight: 700;
}

.job-card__info ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    .job-card__info ul li {
        font-size: 15px;
        color: #939c9b;
        padding: 0 10px;
        position: relative;
    }

        .job-card__info ul li:before {
            content: "";
            height: 4px;
            width: 4px;
            position: absolute;
            top: 50%;
            background-color: #939c9b;
            border-radius: 50%;
            left: -2px;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        .job-card__info ul li:first-child {
            padding-left: 0;
        }

            .job-card__info ul li:first-child:before {
                display: none;
            }

        .job-card__info ul li:last-child {
            padding-right: 0;
        }

.job-card.new .tag-new {
    display: block;
}

.job-card.featured {
    border-left: 5px solid #58a9a7;
}

    .job-card.featured .tag-featured {
        display: block;
    }

.job-card__tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 20px;
    list-style-type: none;
}

@media (max-width: 767px) {
    .job-card__tags {
        padding-top: 20px;
        padding-left: 0;
        border-top: 1px solid #939c9b;
    }
}

.job-card__tags li {
    margin-right: 10px;
    margin-bottom: 0;
    padding: 7px;
    border-radius: 4px;
    color: #58a9a7;
    font-weight: 500;
    background-color: #f1f7f5;
    margin: 5px 10px 5px 0;
    cursor: pointer;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
}

    .job-card__tags li:hover {
        background-color: #58a9a7;
        color: white;
    }

    .job-card__tags li:last-child {
        margin-right: 0;
    }

.filter-tags-c {
    background-color: white;
    padding: 10px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 5px;
    margin-top: -105px;
    -webkit-box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

@media (max-width: 767px) {
    .filter-tags-c {
        padding: 20px;
        margin-bottom: 50px;
    }
}

.filter-tags-c ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

    .filter-tags-c ul li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 5px 15px 5px 0;
        border-radius: 4px;
        overflow: hidden;
    }

        .filter-tags-c ul li p {
            margin-right: 10px;
            margin-bottom: 0;
            padding: 7px;
            background-color: #f1f7f5;
            margin: 0;
            color: #58a9a7;
            font-weight: 500;
        }

        .filter-tags-c ul li span {
            background-color: #58a9a7;
            color: white;
            font-size: 25px;
            line-height: 1.3;
            padding: 0 5px;
            cursor: pointer;
            -webkit-transition: all ease 0.2s;
            transition: all ease 0.2s;
        }

            .filter-tags-c ul li span:hover {
                background-color: black;
            }

.filter-tags-c .clear-tags {
    color: #58a9a7;
    font-weight: 500;
    margin: 0;
    margin-left: 20px;
    border-bottom: 1px solid #58a9a7;
    cursor: pointer;
}
/*# sourceMappingURL=stylesheet.css.map */
