#cont-about {
    background-color: #EFEFEF;
}

.navbar.scrolled {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    padding: 5px 0;
    opacity: 0.9;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.nav-pills > .nav-item a,
.nav-pills > .nav-item a:focus {
    color: #333;
    text-align: center;
    /*background-color: lightblue;*/
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    background-color: #fff;
    display: block;
}
.first-vertical-tabs {
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
}

.last-vertical-tabs {
    border-bottom-left-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
}
.nav-pills > .nav-item > a.active {
    background-color: #1e3c84;
    color: white;
}


.nav-pills > li > a:hover,
.nav-pills > li > a:focus:hover {
    background-color: #1e3c84;
    color: white;
}

.nav-pills > li > a.active,
.nav-pills > li > a.active:focus {
    background-color: #1e3c84;
    color: white;
}

.menu-box-2 {
    height: 485px;
    overflow: auto;
    padding: 20px;
}
.tab-content{
    background-color:white;
    padding:1.5rem;
    border-radius:1.25rem;
}
